.pageName{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: black;
    font-size: 14pt;
    font-weight: bold;
    background-color: lightgreen;
}

.loadButtons{
    margin-left: 10px;
}

.loadButtons:enabled{
    color: black;
    font-weight: normal;
    background-color: lightgray;
}

.loadButtons:disabled{
    color: darkblue;
    font-weight: bold;
    background-color: darkgray;
    border: 1px solid blue;
}

.bookTitle{
    margin-left: 10px;
}