

.editLine{
    color: black;
    background-color: coral;
}

.currentSentence{
    position: fixed;
    top: 287px;
    left: 377px;
    height: 50px;
    width: 963px;
    border: 3px solid #73AD21;
    color: darkgreen;
    background-color: whitesmoke;
    text-align: left;
}

.translateLine{
    position: fixed;
    top: 350px;
    left: 377px;
    width: 985px;
    height: 40px;
    border: 3px solid #73AD21;
    color: black;
    background-color: coral;
    font-size: smaller;
}

.textBottom{
    position: fixed;
    top: 400px;
    left: 377px;
    width: 990px;
    height: 250px;
    color: lightgreen;
    background-color: darkgreen;  
}

.twoColumnsTop{    
    float: right;
}

.twoColumnsReading{    
    float: right;
    color: black;
    background-color: lightblue;
}

.twoColumnsBottom{    
    float: right;
}
