

.editLine{
    color: black;
    background-color: coral;
}

.currentSentence{
    color: darkgreen;
    background-color: whitesmoke;
}

.translateLine{
    color: black;
    background-color: coral;
    font-size: smaller;
}

.twoColumnsTop{    
    float: right;
}

.twoColumnsReading{    
    float: right;
    color: black;
    background-color: lightblue;
}

.twoColumnsBottom{    
    float: right;
}
