.header{
    grid-area: h;
    background-color: green;
  }
  
  .header img{
    height: auto;
    width: 20 px;
  }

  logoPicture{
    background-color: silver;    
  }

  .loginBlock{
    float: right;
    color: yellow;    
    margin: 50px;
    margin-right: 5px;
  }

  .loginBlock a{
    color: yellow;
    background-color: silver;
  }
